$primary-color: rgba(33, 38, 44, 1);
$secondary-color: rgba(52, 115, 157, 1);
$neutral-color: rgba(240, 246, 250, 1);
$neutral-200: rgba(240, 246, 250, 0.9);
$neutral-100: rgba(244, 248, 251, 1);
$accent-color: rgba(255, 242, 0, 1);
$font-stack: 'Inter', sans-serif;

